body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28.15px;
  text-align: center;
  width: 1728px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border-radius: 100%;
}

.button-search {
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 340px;
  right: 645px;
}

.button-search::after {
  content: "";
  width: 28px;
  height: 28px;
  top: 13px;
  right: 8px;
  position: absolute;
  background-image: url(./icon/search.svg);
  background-repeat: no-repeat;
}

.button-subscribe {
  width: 145px;
  height: 47px;
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  border-radius: 24px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 226px;
  left: 402px;
}

.header {
  padding: 60px 115px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 439px;
  margin-left: 485px;
}

.header__list {
  display: flex;
  gap: 68px;
}

.header__link {
  color: #FFFFFF;
}

.header__link--current {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
}

.header__link--basket {
  background-image: url(./icon/basket.png);
  background-repeat: no-repeat;
  width: 39px;
  height: 37px;
}

.offer {
  color: #FFFFFF;
  background-image: url(./img/gradient.png);
  background-repeat: no-repeat;
  height: 1004px;
  background-position-y: bottom;
  position: relative;
}

.offer__title {
  font-size: 82px;
  font-weight: 700;
  line-height: 96.19px;
  width: 1128px;
  margin: 28px auto 0;
}

.offer__text {
  line-height: 36px;
  width: 583px;
  margin: 24px auto 0;
}

.offer__button {
  border: 1px solid #FFFFFF;
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  position: relative;
}

.offer__button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 100%;
  top: 18px;
  left: 18px;
}

.offer__button--one {
  position: absolute;
  top: 273px;
  left: 104px;
}

.offer__button--two {
  position: absolute;
  left: 194px;
  top: 480px;
}

.offer__button--three {
  position: absolute;
  bottom: 467px;
  right: 122px;
}

.main-wrapper {
  width: 100%;
  height: 1168px;
  background: url(./img/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 463px;
  height: 71px;
  padding: 24px 30px 24px 30px;
  border-radius: 50px 50px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  margin: 42px auto 0;
  font-size: 20px;
  line-height: 23.46px;
  color: #FFFFFF;
}

.service {
  padding: 127px 120px 0;
}

.service__list {
  display: flex;
  gap: 226px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  text-align: left;
  color: #081323;
}

.service__description {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  text-align: left;
  color: #828282;
  margin: 16px 0 0;
}

.service__item {
  margin-left: 108px;
  position: relative;
}

.service__item--free-shipping::after {
  content: "";
  background-image: url(./icon/delivery.svg);
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
  position: absolute;
  top: -3px;
  left: -106px;
}

.service__item--payment::after {
  content: "";
  background-image: url(./icon/wallet.svg);
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
  position: absolute;
  top: -3px;
  left: -106px;
}

.service__item--support::after {
  content: "";
  background-image: url(./icon/support.svg);
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
  position: absolute;
  top: -3px;
  left: -106px;
}

.best-product {
  padding: 146px 153px 188px 123px;
  display: flex;
  justify-content: space-between;
}

.best-product__wrapper {
  width: 363px;
  display: flex;
  flex-direction: column;
  padding: 243px 0 145px 0;
}

.best-product__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 75.07px;
  text-align: left;
  color: #081323;
}

.best-product__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.15px;
  color: #828282;
  margin-top: 42px;
  text-align: start;
  position: relative;
}

.best-product__link::after {
  content: "";
  background-image: url(./icon/arrow.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: -10px;
  right: 110px;
}

.catalog-product {
  width: 1051px;
  display: flex;
  gap: 32px;
}

.catalog-product__item {
  width: 329px;
  margin-top: 373px;
  background-color: #FFFFFF;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: revert-layer;
}

.catalog-product__item::before {
  content: "";
  position: absolute;
  background: #C1D0E4;
  height: 290px;
  width: 329px;
  bottom: 218px;
  left: 0;
  z-index: -1;
  border-radius: 50px 50px 0 0;
}

.catalog-product__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  text-align: start;
  margin: 26px 0 0 38px;
  position: relative;
}

.catalog-product__title--primary::before {
  content: "";
  background-image: url(./img/plant1.png);
  background-repeat: no-repeat;
  width: 325px;
  height: 333px;
  position: absolute;
  bottom: 103px;
  right: 0;
}

.catalog-product__title--secondary::before {
  content: "";
  background-image: url(./img/plant2.png);
  background-repeat: no-repeat;
  width: 325px;
  height: 333px;
  position: absolute;
  bottom: 103px;
  right: 0;
}

.catalog-product__title--next::before {
  content: "";
  background-image: url(./img/plant3.png);
  background-repeat: no-repeat;
  width: 325px;
  height: 333px;
  position: absolute;
  bottom: 103px;
  right: 0;
}

.catalog-product__rating {
  background-image: url(./icon/srar.svg);
  width: 122px;
  height: 24px;
  display: block;
  margin: 7px 0 0 38px;
}

.catalog-product__wrapper {
  display: flex;
  padding: 59px 38px 0;
  justify-content: space-between;
  align-items: center;
}

.catalog-product__price {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  color: #081323;
}

.catalog-product__button {
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  width: 64px;
  height: 64px;
  border: none;
  position: relative;
}

.catalog-product__button::after {
  font-size: 50px;
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.visual {
  padding: 0 118px 182px 126px;
}

.visual__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 75.07px;
  color: #081323;
  margin-left: 22px;
}

.visual__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.15px;
  color: #4f4f4f;
}

.visual__wrapper-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 82px;
}

.visual__img--c {
  grid-column: 2/3;
  grid-row: 1/3;
}

.visual__img--a {
  margin-top: 12px;
}

.care {
  padding: 0 120px 205px 126px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.care__title {
  font-size: 64px;
  font-weight: 500;
  line-height: 75.07px;
  text-align: left;
  color: #081323;
  width: 452px;
}

.care__text {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.15px;
  text-align: left;
  width: 452px;
  margin: 0;
  margin-top: 28px;
}

.care__img {
  grid-column: 2/3;
  grid-row: 3/-2;
  margin-top: 101px;
  margin-left: auto;
}

.primary-care {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 582px;
  padding-top: 82px;
  gap: 32px;
  grid-column: 1;
}

.primary-care__item {
  margin-left: 86px;
}

.primary-care__title {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  position: relative;
}

.primary-care__text {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  margin: 0;
  margin-top: 8px;
}

.primary-care__title--lighting::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background: url(./icon/sun.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -90px;
}

.primary-care__title--water::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background: url(./icon/water.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -90px;
}

.primary-care__title--plant::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background: url(./icon/plant-icon.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -90px;
}

.primary-care__title--fertilize::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background: url(./icon/temperature.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -90px;
}

.footer {
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
  padding: 120px 101px 120px 97px;
  display: grid;
  grid-template-columns: 463px 948px;
  column-gap: 121px;
  position: relative;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__form-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 56.3px;
  color: #FFFFFF;
  margin-top: 13px;
  text-align: left;
  margin-left: 10px;
}

.footer__list {
  display: flex;
  gap: 88px;
  text-align: left;
}

.footer__item {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 17px;
}

.footer__rights {
  grid-column: 1/3;
  margin-top: 105px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.15px;
  color: #FFFFFF;
}

.footer__rights::before {
  content: "";
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 1513px;
  left: 107px;
  bottom: 198px;
}

.tooltip {
  border: 1px solid #FFFFFF;
  background: rgba(255, 253, 253, 0.2);
  backdrop-filter: blur(4px);
  padding: 20px;
  width: 205px;
  height: 103px;
  display: block;
  border-radius: 24px;
  position: absolute;
  top: 355px;
  right: 40px;
}

.arrow {
  position: absolute;
  left: 90px;
  bottom: -35px;
  border: 15px solid transparent;
  border-top: 21px solid #FFF;
}

.tooltip__price {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.54px;
  text-align: left;
  color: #FFFFFF;
}

.tooltip__product-name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.77px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 12px;
}

.form-email {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
  color: #FFFFFF;
  margin-top: 23px;
}

/*# sourceMappingURL=styles.css.map */