.visual {
    padding: 0 118px 182px 126px;
}

.visual__title {
    font-size: 64px;
    font-weight: 500;
    line-height: 75.07px;
    color: $dark;
    margin-left: 22px;
}

.visual__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.15px;
    color: $dark-grey;
}

.visual__wrapper-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 82px;
}

.visual__img--c {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.visual__img--a {
    margin-top: 12px;
}